{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>Transaction History</h2>
{% if transactions %}
<table class="table table-bordered table-hover mx-auto w-auto">
    <thead class="table-light">
        <tr>
            <th>Symbol</tr>
            <th>Name</tr>
            <th>Shares</tr>
            <th>Price</tr>
            <th>Total</tr>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.type | capitalize }}</td>
            <td>{{ t.symbol }}</td>
            <td class="{{ 'text-danger' if t.type == 'sell' else 'text-sucess' }}">
                {{ t.shares if t.type == 'buy' else -t.shares }}
            </td>
            <td>{{ t.price | usd }}</td>
            <td>{{ t.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No transactions yet.</p>
{% endif %}
{% endblock %}
